<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque non omnis a sapiente odio cupiditate praesentium repellendus quasi ratione eum ullam corporis provident, itaque ipsam earum corrupti iste fugit vitae atque exercitationem, nostrum delectus quam temporibus necessitatibus? Neque, commodi temporibus!</p>
    </div>
</div>