<div class="card mt-4">
    <div class="card-body">
        <h1 class="display-4">Notes App Nodejs and Mongo DB</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nihil iure expedita officiis omnis esse, non molestias maxime suscipit dicta!</p>
        <a href="https://google.com" class="btn btn-primary btn-lg">Google</a>
    </div>
</div>